<aside class="mt6 mt0-ns ph4 ph5-ns">
    <h3 class="f4 f2-l lh-title ttu dark-red sans-serif fw5">{{ cta.title }}</h3>
    <div class="lh-copy roboto fw3 measure-wide">
      <p class="f3 bb b--moon-gray pb3">ApoyaRD conecta donaciones con centros hospitalarios. A través de esta plataforma nos comunicamos con los centros de salud para conocer sus necesidades, solicitamos donaciones y cotactamos voluntarios que nos puedan ayudar a llevar los artículos directamente a los centros de salud.</p>
      <p class="f5 f4-ns">Cooperación Ciudadana es una organización sin fines de lucro que desarrolla varios proyectos ciudadanos, 100% gestionados con voluntarios.</p>
      <p class="f5 f4-ns">Si quieres unirte a ApoyaRD, buscamos gente en las provincias qué puedan funcionar como embajadores. Los embajadores coordinan las donaciones localmente mientras promueven la plataforma en sus comunidades.</p>
      <p class="f5 f4-ns">Creemos que los dominicanos somos capaces de grandes cosas cuando nos unimos y nos organizamos. Si unimos nuestros esfuerzos con estructura tenemos la oportunidad de generar un mayor impacto.</p>
    </div>
    <a class="dib w-auto pv2 bb" href="{{ cta.link | url }}">{{ cta.link_text}}</a>
</aside>
