<section class="mt4 mt5-ns ph4 ph6-l center-m">
  <h2 class="f4 f2-l lh-title ttu dark-red sans-serif fw5 center tc mb5 mb6-ns">
    {{ cta_join_title }}
  </h2>
  <div class="flex-ns flex-wrap-ns">
  {% for cta in cta_join %}
    <div class="cta-join-item {{ cta.color }} br3 ph4 ph3-ns pb4 pt3 pt0-ns mt4 mb3 mb6-ns grow"><a href="{{ cta.url }}">
      <p class="f3 f2-l lh-copy tc ph3-m ph5-l">
        <i role="presentation" class="flex items-center flex-end cta-join-icon center db mb4 w4-ns h4-ns near-black bg-white br-100 ba bw1 bw2-ns">
          <img src="/img/{{ cta.icono }}.svg">
        </i>
        {{ cta.texto }}
      </p>
      </a>
    </div>
  {% endfor %}
  </div>
</section>
