---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="sans-serif lh-copy ph4 ph5-ns">
 <header class="mb4 center">
  <h1>{{ title }}</h1>
  <p class="measure">{{ subtitle }}</p>
 </header>

  {{ content | safe }}
</article>

